@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Flex:wght@300&display=swap");
.containerLandingPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/background-landing.jpg");
}
.buttonLandingPage {
  background-color: #ef233c;
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  font-family: "Roboto Flex", sans-serif;
  color:#edf2f4 ;
  font-size: large;
}
.buttonLandingPage:hover {
  background-color: #edf2f4;
  cursor: pointer;
  color: #2B2D42;

}
.containerButtonLanding{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
 width: 90vw;
 height: 90vh;
 border-radius: 1000px 0px;
 border-right: 10px solid #ef233c;
 border-bottom: 10px solid #2B2D42;
 background-image: url("./assets/images/ashPika.png");
 background-repeat: no-repeat;
 background-position-y: bottom;
 background-attachment: fixed;
 background-size: 50%;
 }
