.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.containerHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}