
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

.cardPokemon{
    max-width: 200px;
    min-width: 200px;
    min-height: 350px;
}

.imageCardPokemon{
 
    background-color: #f2f2f2;
    border-radius: 5px;
 
}
.containerDetailCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

a{
    text-decoration: none;
}
.nameCardPokemon{
    font-family: 'Agdasima', sans-serif;
color: #2B2D42;
margin: 0px;
}
.typesDetailCard{
    display: flex;
    gap: 5px;
    font-family: 'Agdasima', sans-serif;
    font-size: large;
}
.typesDetailCard p{
  border-radius: 5px;
  margin-top: 3px;
   padding: 5px;

}
.detailCard{
    font-family: 'Agdasima', sans-serif;
    margin: 0px;
}
.rangeAttackCard{
    margin: 0;
}
.rangeAttack{
    background-color: #D90429;
    height: 5px;
}
.rangeLife{
    background-color: #4dad5b;
    height: 5px;
}
.rangeDefense{
    background-color: #30a7d7;
    height: 5px;
}
.buttonDeletePokemon{
    font-family: 'Agdasima', sans-serif;
  color: #D90429; 
  font-size: large;
  font-weight: 700;
  background: none;
  border: none;
}
.buttonDeletePokemon{
    cursor: pointer;
}
.containerCreatedDelete{
    display: flex;
    gap: 3px
}
.containerImgPokemon{
    display: flex;
    justify-content: center;
    contain: content;
    width: 200px;
    height: 200px;
}
.normal {
  background-color: #a4a4a4;
  border: none;
  color: #fff;
}
.fighting {
  background-color: #d56723;
  border: none;
  color: #fff;
}
.flying {
  border: none;
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  color: #fff;
}
.poison {
  border: none;
  background-color: #b97fc9;
  color: #fff;
}
.ground {
  border: none;
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background-color: #f7de3f;
  color: #fff;
}
.rock {
  border: none;
  background-color: #a38c21;
  color: #fff;
}
.bug {
  border: none;
  background-color: #729f3f;
  color: #fff;
}
.ghost {
  border: none;
  background-color: #7b62a3;
  color: #fff;
}
.steel {
  border: none;
  background-color: #9eb7b8;
  color: #fff;
}
.fire {
  border: none;
  background-color: #fd7d24;
  color: #fff;
}
.water {
  border: none;
  background-color: #4592c4;
  color: #fff;
}
.grass {
  border: none;
  background-color: #9bcc50;
  color: #fff;
}
.electric {
  border: none;
  background-color: #eed535;
  color: #fff;
}
.psychic {
  border: none;
  background-color: #f366b9;
  color: #fff;
}
.ice {
  border: none;
  background-color: #51c4e7;
  color: #fff;
}
.dragon {
  border: none;
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
  color: #fff;
}
.dark {
  border: none;
  background-color: #707070;
  color: #fff;
}
.fairy {
  border: none;
  background-color: #fdb9e9;
  color: #fff;
}
.unknown {
  border: none;
  background-color: #f2f2f2;
  border: solid gray;
}
.shadow {
  border: none;
  background-color: #707070;
  color: #fff;
}

