@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

.containerNavBar{
    display: flex;
    justify-content: space-around;
    align-items: end;
    height: 80px;
    gap: 20px;
    background-color: #fff;
    box-shadow: inset -1px -5px 0px #8D99AE ; 

}

.containerNavBar div h2{
   color: #2B2D42 ;
   margin: 0;
   font-family: 'Agdasima', sans-serif;
   font-weight: 700;
   padding-left: 10px;
   padding-right: 10px;
}


.containerNavBar .linkNav{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   border-bottom: solid 5px #EF233C;
   height: 80px;
 }
 
 .logoPokemon{
   display: flex;
   align-items: center;
   justify-content: center;
   border-bottom: solid 5px ;
   border-image: linear-gradient(91deg, #ffce06, #0c4fca) 1;
   height: 80px;
   width: 200px;
 }
 .logoPokemon img{
  width: 70%;
 }

.containerLinks{
   display: flex;
   gap: 20px;
}
.containerAllLinks{
   display: flex;
   justify-content: space-between;
   width: 60vw;
}
